[submodule "Submodules/hexdreamsCocoa"]
	path = Submodules/hexdreamsCocoa
	url = https://github.com/hexdreamer/hexdreamsCocoa.git
[submodule "Submodules/antlr4"]
	path = Submodules/antlr4
	url = http://github.com/antlr/antlr4
